*{
	
	background-color: rgba(0,0,200,0.1);
	box-sizing: border-box;
	text-align: center;
	border-radius: 7px;
}
#bp{
	text-align: center;
	border: 2px solid blue;
	background-color: rgba(0,0,250,0.25);
}

#title{
	text-align: center;
	padding: 20px 20px;
	background-color: rgba(0,0,150,0.1);

}

#description{
	text-align: center;
	padding: 30px 30px;
	background-color: rgba(0,0,100,0.2);
}

#survey-form{
	padding: 50px 50px;
	
	position: relative;
	border: 1px solid blue;
	background-color: rgba(0,0,100,0.5);

	text-align: center;

	height: auto;
	
}
#name{
	border-radius: 5px;
	width: 300px;    
	margin: 10px;
	background-color:white;

}
#email{
	border-radius: 5px;
	width: 300px;
	margin: 10px;
	background-color:white;
	
}
#number{
	border-radius: 5px;
	width: 300px;
	margin: 10px;
	background-color:white;
	
}
#name-label{
	padding: 3px;
	color: red;
	
}
#email-label{
	padding: 3px 3px;
	color: white;

}
#number-label{
	color: black;
	
}
#dropdown{
	margin: 10px;
	
}

#submit{
	margin: 20px;
	border-radius: 5px;
	color: white;	background-color: green;
}
.bg{
	background-color: transparent;
}
